.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  .Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }