.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  margin: 10px;
  padding: 20px;
  width: 50%;
  max-height: 400px;
  min-height: 100px;
  background-color: white;
  border: 1px solid black;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid yellow;
  color: #111;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
  
}

